<div class="container my-5">
 
    <h3 class="text-light text-center"> Create New Address </h3>
 
    <div class="card mt-5 p-5">
 
        <div class="row">
 
            <div class="col-lg-6 text-center">
                <img src="https://media0.giphy.com/media/Ef08qdU46ZGJKcNxxl/giphy.gif" class="w-100" alt="">
            </div>
 
 
            <div class="col-lg-6 p-2">
 
                <form  [formGroup]="registerForm" (ngSubmit)="register()">
 
                    <input formControlName ="name"  type="text" placeholder="name" class="form-control m-2"  >
                    <p class="text-danger text-start" *ngIf=" registerForm.controls['name'].touched && registerForm.controls['name'].invalid " >Name Invalid</p>

                    <input formControlName ="lastname" type="text" placeholder="lastname"  class="form-control m-2"  >
                    <p class="text-danger text-start" *ngIf=" registerForm.controls['lastname'].touched && registerForm.controls['lastname'].invalid " >Lastname Invalid</p>

                    <input formControlName ="email" type="email" placeholder="email" class="form-control m-2">
                    <p class="text-danger text-start" *ngIf=" registerForm.controls['email'].touched && registerForm.controls['email'].invalid " >E-mail Invalid</p>

                    <input formControlName ="password" type="password" placeholder="password" class="form-control m-2" >
                    <p class="text-danger text-start" *ngIf=" registerForm.controls['password'].touched && registerForm.controls['password'].invalid " >Password Invalid</p>
               
                    <button [disabled]="registerForm.invalid" type="submit" class="btn btn-outline-dark m-2 form-control"> Create </button>
               
                </form>
 
            </div>
 
        </div>
 
 
    </div>
 
 
</div>